<div>
  <img id="map" src="../../assets/map.jpg" alt="Map">
  <img (click)="openTipDialog('bed')" id="bed" class="map-pin" src="../../assets/ferrero.png" alt="Pin">
  <img (click)="openTipDialog('tube')" id="tube" class="map-pin" src="../../assets/ferrero.png" alt="Pin">
  <img (click)="openTipDialog('mirror')" id="mirror" class="map-pin" src="../../assets/ferrero.png" alt="Pin">
  <img (click)="openTipDialog('purifier')" id="purifier" class="map-pin" src="../../assets/ferrero.png" alt="Pin">
  <img (click)="openTipDialog('pepper')" id="pepper" class="map-pin" src="../../assets/ferrero.png" alt="Pin">
</div>
