<div class="content" role="main">
  <img id="main-logo" src="../assets/find-ferrero-logo.png" alt="Encontre o ferrero">

  <h4>AAAEEEEEEE!!!!!!!</h4>

  <p><strong>Parabéns chuchu!</strong> Mas é muito habilidosa mesmo hein! kkkk 🙈 <br>
    Um dos inúmeros motivos de eu te amar. 💘</p>
  <br>
  <p>Brigado por brincar nenezinha 🙈<br>
    <br><br>
    TU É MUUUUITO NINDA 💋💕💖💘 <br> e benção de Deus <br>
    <strong>Te amo muito muito muito</strong> <br>
    Deus te abençoe <strong>sempre</strong>!!!
    <br>

    Com amor, Israel. 😚💖

  </p>

</div>
