<div class="content" role="main">
  <img id="main-logo" src="../assets/find-ferrero-logo.png" alt="Encontre o ferrero">

  <p>É isso mesmo que você tá pensando bebê...</p>
  <p style="font-size: 20px;">Supresinhaaaaa !!! 🤓</p>

  <p>
    Achou que não ia ter de novo né? Não dessa vez !!! kkk <br><br>
    Vamos direto aos negócios. 😎<br>
    Ferreros são incríveis né? Crocantes, doces, saborosos, avelã ... humm <br>
    (Teu gosto é muito bom) <br>
    Ferreros são perfeitos. Não como você mas ... <br>
    vamos tentar deixá-los um pouco mais "parecidos". <br>
    Você é difícil Hadinha (não num sentido ruim é claro kkk) <br>
    então eu vou deixar os ferreros um pouco mais difíceis também. <br> Só pra ser divertido kkkk

    <br><br>

    Trouxe <strong>5</strong> ferreros pra você, mas não vou simplesmente entregar huahuahua <br>
    Escondi eles em alguns lugares da casa e você precisa encontrá-los. 🤪 <br>
    Eu fiz um mapa do tesouro pra te ajudar e tem umas dicas também <br><br>

    Ache todos antes que alguém daí ache kkk. <br>
    Boa caçada chuchu.

    <br><br>

    P.S. Eu te amo <strong>muito</strong> e senti <strong>muito</strong> tua falta, Hada Lise. ❤ <br>
    Obrigado por estar em minha vida. Te acho <strong>incrível</strong> e <strong>perfeita</strong>. <br>
    Com amor, Israel. 😚❣
  </p>

  <button (click)="navToMap()" type="button" style="
    background-color: #1163aa;
    color: white;
    font-weight: bold;" mat-raised-button>
    <i class="fas fa-map"></i>
    Mostra o mapa aí
  </button>

</div>
